body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #1c1719;
}
.box {
    background: #2a2226;
    padding: 24px 28px;
    border-radius: 12px;
    box-shadow: 0 6px 24px rgba(0,0,0,0.08);
    text-align: center;
    max-width: 420px;
}
h1 {
    margin: 0 0 12px;
    font-size: 28px;
    color: rgb(255, 255, 255);
}
p {
    margin: 0 0 16px;
}
.buttons {
    display: flex;         
    justify-content: center; 
    gap: 12px;              
    margin-top: 12px;    
}

a.button {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #8a8a8a;
    color: #ffffff;
}
p {
    color: #ffffff;
    display: block;
    margin-top: 12px;
}

small {
    color: #b8cbe0;
    display: block;
    margin-top: 12px;
}
.footer {
    position: absolute;   /* фиксируем у низа окна */
    bottom: 12px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #888;
}