body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: #fff;
}

.container {
    position: relative;
    background: rgba(230, 208, 255, 0.3);
    padding: 40px 60px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    max-width: 700px;
    width: 90%;

    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(104,0,160,1) 35%, rgba(144,0,0,1) 65%, rgba(135,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(104,0,160,1) 35%, rgba(144,0,0,1) 65%, rgba(135,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;

    z-index: 999;
}

.vote-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vote-image {
    max-width: 80%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgb(255, 255, 255);
    margin-bottom: 20px;
    display: block;
}

.rating-buttons {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin: 20px 0;
}

.star-button {
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
    color: #373737;
}

.star-button.selected {
    color: #fff4c8;
}

.confirm-button {
    display: block;
    margin: 20px auto 0;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background: #dddddd;
    color: #000000;
    cursor: pointer;
    transition: background 0.2s;
}

.confirm-button:disabled {
    background: #606060;
    cursor: not-allowed;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.star-button.hover {
color: #ffffff; 
}

.vote-link {
    display: inline-block;
    padding: 12px 30px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    background: linear-gradient(180deg, #949494, #e0e0e0);
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s, background 0.3s;
}

.vote-link:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    background: linear-gradient(135deg, #ffffff, #ffffff);
}

